.grid-square{
    border: 1px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0;
}

.grid-row{
    height: 30px;
    width: auto;
    margin: 0;
}

.moving-piece{
    background: black;
    border: 1px solid white;
}

.bottom-piece{
    background: rgb(2, 2, 2);
    border: 1px solid blue;
}

.background-piece{
    background: white;
}

.shifted-piece{
    background: black;
    border: 1px solid red;
}

.dead-square{
    background: grey;
    border: 1px solid white;
}

.restart-button{
    height: 40px;
    width: 60px;
    background: black;
    color: white;
}
