.grid-square{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0;
}

.grid-row{
    height: 30px;
    width: auto;
    margin: 0;
}

.moving-piece{
    background: black;
    border: 1px solid white;
}

.bottom-piece{
    background: black;
    border: 1px solid blue;
}

.background-piece{
    background: white;
}
